@import '../../styles/mixins';

.cert {
  background: url('/assets/images/backgroundCertificates.jpg') center center/cover no-repeat;

  &-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px 200px;

    @media screen and (max-width: 1440px) {
      padding: 100px;
    }

    @media screen and (max-width: 1024px) {
      margin-right: 5px;
      align-items: center;
      padding: 50px;
    }

    @media screen and (max-width: 375px) {
      padding: 30px;
      gap: 30px;
    }
  }
}

.box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  &-text {
    @include text-styles(32px, 400, $black-color);

    @media screen and (max-width: 768px) {
      font-size: 24px;
    } 

    @media screen and (max-width: 425px) {
      font-size: 18px;
    } 
      
    &-orange {
      color: $orange-color;
    }
  }
}

.certificates-title {
  @include text-styles(40px, 700, $orange-color);

  @media screen and (max-width: 768px) {
    font-size: 36px;
    text-align: center;
  }

  @media screen and (max-width: 375px) {
    font-size: 32px;
  }
}

.number {
  max-width: 170px;
  max-height: 170px;

  @media screen and (max-width: 768px) {
    max-width: 70px;
    max-height: 70px;
  }

  @media screen and (max-width: 425px) {
    max-width: 50px;
    max-height: 50px;
  }
}

.box2 {
  margin-left: 70px;

  @media screen and (max-width: 768px) {
    margin-left: 0px;
  }
}

.box3 {
  margin-left: 130px;

  @media screen and (max-width: 768px) {
    margin-left: 0px;
  }
}
