@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.tours-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  &__body {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    max-width: 80%;
    max-height: 90%;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-color;
    z-index: 2;
    padding: 40px;
  }
  &__date-list {
      @include text-styles(20px, 400, $blue-color);
      margin-bottom: 20px;
      list-style: none;          
    &-item {
      display: flex;
      align-items: flex-end;
      gap: 10px;
      &::before {
        content: url("../../assets/icons/calendar-modal.svg");
        width: 34px;
        height: 34px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 100px;
  }
  &__title {
    @include text-styles(48px, 700, $orange-color);
    text-align: center;
  }
  &__list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    li {
      position: relative;
      @include text-styles(20px, 400, $black-color);
      margin-bottom: 15px;
      &:before {
        position: absolute;
        content: url("../../assets/icons/arrow-tours.svg");
        left: -40px;
        top: -4px;
        width: 34px;
        height: 34px;
      }
    }
  }
  &__info {
    @include text-styles(18px, 700, $black-color);
    text-align: center;
    margin-bottom: 40px;
  }
  &__include {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      margin-bottom: 35px;
    }
    &-title {
      @include text-styles(20px, 700, $black-color);
      margin-bottom: 10px;
    }
    &-list {
      list-style: none;
      margin-top: 3px;
      li {
        @include text-styles(20px, 400, $black-color);
        margin-bottom: 3px;
      }
    }
  }    
}
