@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.tours-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  &__body {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 80%;
    max-height: 90%;
    overflow-y: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: $white-color;
    z-index: 2;
    padding: 40px;

    @media screen and (min-width: 1440px) {
      max-width: 1200px;
    }

    @media screen and (max-width: 768px) {
      max-width: 100%;
      max-height: 100%;
    }

    @media screen and (max-width: 425px) {
      padding: 30px;
    }
  }
  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
    align-self: flex-end;
    & span {
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: $blue-color;
      top: 50%;
      left: 0;
      transform-origin: center;
    }
    & span:first-child {
      transform: rotate(45deg);
    }
    & span:last-child {
      transform: rotate(-45deg);
    }

    @media screen and (max-width: 425px) {
      position: sticky;
      top: 5px;
      right: 0;
    }
  }
  &__date-list {
    @include text-styles(20px, 400, $blue-color);
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;      
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &-item {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 250px;

      @media screen and (max-width: 425px) {
        width: 200px;
      }
      &::before {
        content: url("/assets/icons/calendar-modal.svg");
        width: 34px;
        height: 34px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 100px;

    @media screen and (max-width: 768px) {
      padding: 0px 20px;
    }
  }
  &__title {
    @include text-styles(48px, 700, $orange-color);
    text-align: center;

    @media screen and (max-width: 425px) {
      font-size: 40px;
    }
  }
  &__list {
    list-style: none;
    margin-top: 20px;
    margin-bottom: 20px;
    li {
      position: relative;
      @include text-styles(20px, 400, $black-color);
      margin-bottom: 15px;
      &:before {
        position: absolute;
        content: url("/assets/icons/arrow-tours.svg");
        left: -40px;
        top: -4px;
        width: 34px;
        height: 34px;
      }
    }
  }
  &__info {
    @include text-styles(18px, 700, $black-color);
    text-align: center;
    margin-bottom: 40px;
  }
  &__include {
    &-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
      margin-bottom: 35px;

      @media screen and (max-width: 425px) {
        grid-template-columns: 1fr;
      }
    }
    &-title {
      @include text-styles(20px, 700, $black-color);
      margin-bottom: 10px;
    }
    &-list {
      list-style: none;
      margin-top: 3px;
      li {
        @include text-styles(20px, 400, $black-color);
        margin-bottom: 3px;
      }
    }
  }    
}
