@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';


.container {
    padding: 100px 250px;

    @media screen and (max-width: 1440px) {
        padding: 100px 200px;
    }

    @media screen and (max-width: 768px) {
        padding: 100px 100px;
    }

    @media screen and (max-width: 425px) {
        padding: 25px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.search {
    background-color: #A7D1EF;

    &__title {
        @include text-styles(38px, 700, $black-color);

        span {
            color: $orange-color;
            font-style: italic;
        }
    }

    &__button {
        @include button;
        margin-top: 70px;
        text-transform: uppercase;
        width: 80%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        text-decoration: none;

        &:hover {
            .button-image {
                content: url('../../assets/icons/blue-plane.svg');
            }
        }
    }
}


.offerings {
    background-color: #A7D1EF;

    &__title {
        @include text-styles(38px, 700, $orange-color);
    }

    &__subtitle {
        @include text-styles(38px, 700, $orange-color);
        font-style: italic;
    }


    &__list {
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        
        @media screen and (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 0;
        }

        &-item {
            @include text-styles(20px, 400, $black-color);
            text-transform: uppercase;
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;

            img {
                height: 32px;
                width: 32px;
            }
        }
    }
}

.tours {
    &__header {
      @include text-styles(38px, 700, $black-color);
      &-orange {
      color: $orange-color;
      }
    }
    &__subheader {
      @include text-styles(30px, 400, $black-color);
      margin-top: 20px;  
    }
}  
.containerServices {
    background: url('../../assets/images/bg3.jpg');
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    min-height: 750px;
 
    
    @media screen and (min-width: 1440px) {
      /* стили для больших настольных компьютеров и ноутбуков */
      padding: 30px 30px;
    }
    
    @media screen and (max-width: 1024px) {
      /* стили для планшета в альбомной ориентации */
      
    }
    
    @media screen and (max-width: 768px) {
     /* стили для планшета */

    }
    
    @media screen and (max-width: 425px) {
    /* стили для широкого смартфона */
  
    }
    
    @media screen and (max-width: 375px) {
     /* стили для среднего смартфона */
    }
    
    @media screen and (max-width: 320px) {
      /* стили для малого смартфона */
    
  }
}
  
.why {
    &-header {
    display: flex;
    justify-content: space-around;
    column-gap: 60px;
    width:80vw;
    @media screen and (max-width: 1024px) {
      font-size: 16px;
    }
    @media screen and (max-width: 768px) {
      margin-right: 15px;
    align-items: center;
    justify-items: space-between;
 
        column-gap: 20px;
    }
    @media screen and (max-width: 425px) {
      margin-right: 5px;
    align-items: center;
    justify-items: space-between;
        width:300px;
        column-gap: 10px;
    }
    }
    &-contacts {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      &-btn {
        background-color: transparent;
        color: $orange-color;
      }
  
    }
    &-list {
      list-style: none;
      margin-top: 30px;
    
      li {
        position: relative;
        @include text-styles(20px, 400, $black-color);
        margin-bottom: 30px;
    
        &:before {
          position: absolute;
          content: url("../../assets/icons/airplane.png");
          left: -40px;
          width: 25px;
          height: 25px;
        }
      }
    }
  }
  
.whyussection {
  &__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    
    @media screen and (max-width: 768px) {
        grid-template-columns: 1fr;
        gap: 0;
    }
  &-item {
    @include text-styles(20px, 400, $black-color);
   
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;

    img {
        height: 32px;
        width: 32px;
    }
}}
  
@media screen and (min-width: 2560px) {
  /* стили для больших мониторов с разрешением 4K */

}

@media screen and (min-width: 1440px) {
  /* стили для больших настольных компьютеров и ноутбуков */
  margin-left: 60%;
  width: 400px;
}

@media screen and (max-width: 1024px) {
  /* стили для планшета в альбомной ориентации */
  margin-left: 65%;
  width: 200px;
}


@media screen and (max-width: 425px) {
/* стили для широкого смартфона */
margin-left: 5px;
width: 80px;
}

@media screen and (max-width: 375px) {
 /* стили для среднего смартфона */
}

@media screen and (max-width: 320px) {
  /* стили для малого смартфона */
}
  }
  .textLato900 {
    @include text-styles(36px, 700, $orange-color);
    @media screen and (min-width: 2560px) {
      font-size: 40px;
    }
  
    @media screen and (max-width: 1024px) {
      font-size: 36px;
    }
  
    @media screen and (max-width: 768px) {
      font-size: 35px;

    }
  }
  
  .textLato800 {
    @include text-styles(48px, 700, $orange-color);
    @media screen and (min-width: 2560px) {
      font-size: 40px;
    }
    @media screen and (max-width: 1024px) {
      /* стили для планшета в альбомной ориентации */
  
      font-size: 40px;
      align-items: center;
    }
  
    @media screen and (max-width: 768px) {
      font-size: 35px;
      
    }
  
    @media screen and (max-width: 425px) {
      font-size: 14px;
    }
  }
  
  
.servicesColor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  min-height: 50px;
  justify-content: space-around;
  width: 100%;
  
}
.reviewColumn {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.backgroundColor {
margin:30px;
  min-height: 300px;
 padding:20px;
  &__section{
margin:10px;
  }
  @media screen and (max-width: 768px) {
      width:640px;
      margin:20px;
     }
}
.reviewRow {
  display: flex;
  flex-direction: column;
 
}
.backgroundImg {
  background-image: url('../../assets/images/beach.jpeg') ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  padding: 40px;
  align-items: center;
  @media screen and (max-width:768px) {
    /* стили для планшета в альбомной ориентации */
   padding:10px;
   min-height: 300px;
  
  }
}

.certImage{
  width: 450px;
  margin:10px;
  @media screen and (max-width: 1440px) {
    width:340px;
 }
  @media screen and (max-width: 768px) {
   width:240px;
}
}
.reviewsectionHeader {
  align-items: center;
  min-height: 150px;
  border: white;
  justify-content: center;
  @media screen and (max-width: 1440px) {
  }
  @media screen and (max-width: 768px) {
width:600px;
  }
}
.reviewsCert {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 150px;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  align-items: flex-start;
  padding: 50px;
  column-gap: 30px;

  @media screen and (max-width: 768px) {
    padding: 15px;
  width:100px;
      column-gap: 10px;
      height: 100px;
  
}}
.certSection {
  align-items: center;
  width: 360px;
  height: 360px;
  border-radius: 15px;
  height: 150px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}

.reviewsServices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  min-height: 150px;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  align-items: center;
  padding: 20px;
  column-gap: 190px;
  margin-top: 50px;
}
.reviewSlider
{
  position: relative;
margin: 300 0 0 0;

}
.reviewsColumn
{ margin:20px;
gap: 10px;

}
.popupButton
{
  @include text-styles(20px, 400, $black-color);
height: 85px;
  margin: 40px;
  border-radius: 40px;
border-color: beige;
box-shadow: inset 0px 4px 4px 0px rgba(252, 249, 249, 0.15),inset 0px 0px 68px 0px rgba(255, 255, 255, 0.05);
backdrop-filter: blur(48px);
background: rgb(33, 150, 243);
color: aliceblue;
@media screen and (max-width:768px) {
  /* стили для планшета в альбомной ориентации */

height:40px;
margin: 10px;

}
}
.certDiscount {
  @include text-styles(20px, 400, $black-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 20px;
  &-orange {
    color: $orange-color;
  }
  @media screen and (max-width: 1024px) {
    /* стили для планшета в альбомной ориентации */
    width: 30vw;
    font-size: 20px;
  
  }
  @media screen and (max-width:768px) {
    /* стили для планшета в альбомной ориентации */
    width: 40vw;
    font-size:16px;
    margin-bottom: 10px;
  margin-top: 10px;
  }

  
}