.container {
  padding: 100px 250px;
}
@media screen and (max-width: 1440px) {
  .container {
    padding: 100px 200px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 100px 100px;
  }
}
@media screen and (max-width: 425px) {
  .container {
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.search {
  background-color: #A7D1EF;
}
.search__title {
  font-size: 38px;
  font-weight: 700;
  color: #000000;
}
.search__title span {
  color: #F19C38;
  font-style: italic;
}
.search__button {
  height: 50px;
  width: 250px;
  background: #4993EB;
  transition: 0.4s;
  font-weight: 700;
  font-size: 16px;
  color: #FFFFFF;
  border-radius: 50px;
  border: none;
  margin-top: 70px;
  text-transform: uppercase;
  width: 80%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
}
.search__button:hover {
  cursor: pointer;
  background: #FFFFFF;
  color: #4993EB;
  border: 1px solid #4993EB;
}
.search__button:hover .button-image {
  content: url("../../assets/icons/blue-plane.svg");
}

.offerings {
  background-color: #A7D1EF;
}
.offerings__title {
  font-size: 38px;
  font-weight: 700;
  color: #F19C38;
}
.offerings__subtitle {
  font-size: 38px;
  font-weight: 700;
  color: #F19C38;
  font-style: italic;
}
.offerings__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}
@media screen and (max-width: 768px) {
  .offerings__list {
    grid-template-columns: 1fr;
    gap: 0;
  }
}
.offerings__list-item {
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}
.offerings__list-item img {
  height: 32px;
  width: 32px;
}

.tours__header {
  font-size: 38px;
  font-weight: 700;
  color: #000000;
}
.tours__header-orange {
  color: #F19C38;
}
.tours__subheader {
  font-size: 30px;
  font-weight: 400;
  color: #000000;
  margin-top: 20px;
}

.containerServices {
  background: url("..//..//assets/images/bg3.jpg") center center/cover no-repeat;
  background-color: rgb(143, 202, 241);
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 1000px;
  padding: 60px 200px;
}

.why-header {
  display: flex;
  justify-content: space-between;
}
.why-contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.why-contacts-btn {
  background-color: transparent;
  color: #F19C38;
}
.why-list {
  list-style: none;
  margin-top: 30px;
}
.why-list li {
  position: relative;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin-bottom: 30px;
}
.why-list li:before {
  position: absolute;
  content: url("../../assets/icons/airplane.png");
  left: -40px;
  width: 25px;
  height: 25px;
}

.whyussection {
  margin-left: 60%;
}

.textLato900 {
  font-size: 36px;
  font-weight: 700;
  color: #F19C38;
}

.textLato800 {
  font-size: 48px;
  font-weight: 700;
  color: #F19C38;
}

.servicescolor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  min-height: 50px;
  justify-content: space-around;
  width: 100%;
}

.reviewColumn {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.backgroundcolor {
  background-color: white;
}

.reviewsectionheader {
  align-items: flex-end;
  min-height: 150px;
  border: white;
  justify-content: center;
}

.reviewsservices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  background-size: cover;
  min-height: 150px;
  justify-content: space-around;
  width: 100%;
  height: 300px;
  align-items: center;
  padding: 20px;
  column-gap: 190px;
  margin-top: 50px;
}
.certbackground {
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
  align-items: center;
  align-content: center;
  width: 650px;
 background-image: url("../../assets/images/certificate.png"); 
 background-size:cover;
  background-repeat: no-repeat;
}
.inputorder {
  justify-content: center;
  align-items: center;
  margin-left: 80px;
  margin-bottom: 10px;
}
.certsection {
  align-items: center;
  width: 360px;
  height: 360px;
  border-radius: 15px;
  height: 150px;
  padding-bottom: 40px;
  margin-bottom: 10px;
}
.reviewRow {
  display: flex;
  flex-direction: column;
}
.rowsection {
  display: flex;
  flex-direction: row;
  width: 200px;
  align-items: center;
  column-gap: 40px;
  margin-bottom: 30px;
}
.cert-discount {
  @include text-styles(18px, 400, $black-color);
  text-transform: uppercase;
  margin-bottom: 10px;
  &-orange {
    color: $orange-color;
  }
}
.backgroundimg {

  background-image: url('../../assets/images/beach.jpeg');
}
.reviewSlider {
  position: relative;
  margin: 300 0 0 0;
}/*# sourceMappingURL=Main.css.map */