* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    display: flex;
    justify-content: center;
}

.swiper-container {
    width: 800px;
    height: 200px;
    line-height: 200px;
    text-align: center;
}

.swiper-slide {
    background-color: rgb(4 47 46);
    color: #fff;
    font-size: 25px;
}

.swiper-slide:nth-child(2) {
    background-color: rgb(15 118 110);
}

.swiper-slide:nth-child(3) {
    background-color: rgb(45 212 191);
}

.swiper-slide:nth-child(4) {
    background-color: rgb(153 246 228);
}

.swiper-slide:nth-child(5) {
    background-color: rgb(34 197 94);
}