@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 100px 200px;
  background-color: #afd5ec;

  @media screen and (max-width: 1440px) {
    padding: 100px;
  }

  @media screen and (max-width: 1024px) {
    padding: 50px;
  }

  @media screen and (max-width: 375px) {
    padding: 30px;
  }
  
  &-container {
    display: flex;
    flex-direction: column;
  }
  &__header {
    @include text-styles(40px, 700, $black-color);

    @media screen and (min-width: 2560px) {
      font-size: 56px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 32px;
    }

    @media screen and (max-width: 320px) {
      font-size: 24px;
    }

    &-orange {
      color: $orange-color;
    }
  }
  &__subheader {
    @include text-styles(32px, 700, $orange-color);
    font-style: italic;

    @media screen and (min-width: 2560px) {
      font-size: 48px;
    }

    @media screen and (max-width: 1024px) {
      font-size: 24px;
    }

    @media screen and (max-width: 320px) {
      font-size: 20px;
    }
  }
  &-wrapper {
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 auto;

    @media screen and (min-width: 2560px) {
      gap: 200px;
    }

    @media screen and (max-width: 1024px) {
      gap: 50px;
    }

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }
  &-block {
    max-width: 1000px;

    @media screen and (min-width: 2560px) {
      max-width: 1300px;
    }

    &__list {
      list-style: none;
      margin-top: 45px;
      padding-left: 55px;
      li {
        position: relative;
        @include text-styles(24px, 400, $black-color);
        margin-bottom: 20px;

        @media screen and (min-width: 2560px) {
          font-size: 36px;
        }

        @media screen and (max-width: 1024px) {
          font-size: 18px;
        }

        @media screen and (max-width: 320px) {
          font-size: 16px;
        }
        &:before {
          position: absolute;
          content: url("../../assets/icons/service-icon.svg");
          display: block;
          left: -55px;
          top: -5px;
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}




