@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.footer {
    background-color: $orange-color;

    &__container {
        padding: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media screen and (max-width: 1440px) {
            padding: 30px;
            gap: 30px;
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            align-items: start;
            gap: 60px;
        }
    }

    &__logo {
        height: 100px;
    }

    &__info {
        @include text-styles(16px, 700, $white-color);
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__phone {
        @include text-styles(22px, 700, $white-color);
        margin-bottom: 15px;
    }

    &__mail {
        color: $white-color;
        text-decoration: none;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        gap: 25px;
        list-style: none;

        &-link {
            @include text-styles(16px, 700, $white-color);
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                color: $blue-color;
                text-decoration: underline;
            }
        }
    }

    &__social {
        @include text-styles(16px, 700, $white-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        &-icons {
            display: flex;
            gap: 10px;
            img {
                height: 40px;
            }
        }
    }

    &__newsletter-text {
        text-align: center;
    }

    &__button {
        @include button;
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;    
    }
}